{% extends "glo_vli/base.html" %}
{% load tethys_gizmos %}
{% load staticfiles %}

{% block app_navigation_items %}
{% if user.is_superuser or user.is_staff %}
{% url 'glo_vli:home' as home_url %}
{% url 'glo_vli:add-point' as add_point_url %}
<br>
<li class=""><b><a href="{{home_url}}">Go Back to Map Page</a></b></li>
{% endif%}
{% endblock %}

{% block app_content %}
<style>
    #map {
        height: 350px;
        width: 100%;
        position: relative;
    }
</style>
<h3>Add a point</h3>
<div id="message" class="alert alert-danger hidden" role="alert"></div>
<div id="map" class="map"></div>
<div id="mouse-position"></div>
<div class="hidden"><b>Map Interaction</b>
    <select id="interaction-type" class="btn btn-xs btn-primary" data-width="fit">
        <option value="Point">Point</option>
    </select></div>
<input type="text" name="point-lat-lon" id="point-lat-lon" hidden>
{% gizmo lon_lat_input %}
{% gizmo select_layer_input %}
{% gizmo source_input %}
{% gizmo year_input %}
{% gizmo elevation_input %}
{% gizmo  add_button %}
{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="{% static 'glo_vli/js/add_point.js' %}" type="text/javascript"></script>
{% endblock %}
