{% load tethys_gizmos %}

<div class="table-overflow">
    <table class="table table-striped">
        <thead>
        <th>View</th>
        <th>Update</th>
        <th>Delete</th>
        <th>ID</th>
        <th>Layer Name</th>
        <th>Attributes</th>
        <th>Metadata</th>
        <th>Approved</th>
        </thead>
        <tbody>
        {% for polygon in polygons %}
        <tr>
            <td class="table-button"><div class=" btn-group "><a name="view-polygon" class="btn btn-warning view-polygon" role="button">
                <span class="glyphicon glyphicon-sunglasses"></span> View </a>
            </div>
            </td>
            <td class="table-button"><div class=" btn-group "><a name="submit-update-form" class="btn btn-warning submit-update-form" role="button">
                <span class="glyphicon glyphicon-floppy-disk"></span> Update Form</a>
            </div>
            </td>
            <td class="table-button"><div class=" btn-group "><a name="submit-delete-polygon" class="btn btn-danger submit-delete-polygon" role="button">
                <span class="glyphicon glyphicon-remove"></span> Delete </a>
            </div>
            </td>
            <td class="polygon-id">{{polygon.id}}</td>
            <td class="polygon-layer-name" >{{polygon.layer_name}}</td>
            <td class="polygon-attribute" >{{polygon.attr_dict}}</td>
            <td class="polygon-meta">{{polygon.meta_dict}}</td>
            <td class="polygon-approved" >{{polygon.approved}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="row" style="margin: auto; padding: 15px">
    <div style="margin-left: auto;margin-right: auto">
        <div class="col-md-4" style="text-align:right">{% gizmo prev_button %}</div>
        <div class="col-md-3" id="display-info" style="text-align: center"></div>
        <div class="col-md-5" style="text-align:left">{% gizmo next_button %}</div>
    </div>
</div>