#app-content-wrapper #app-content {
    padding-bottom:0;
    margin:0;
    height: 100%;
}
#app-content-wrapper #app-content #app-actions{
    display:none;
}

#inner-app-content {
    padding:0;
    margin:0;
    height: 100%;
}

#current-layers {
    width: 100%;
    height: 350px;
    background-color: #D3D3D3;
    overflow-y: auto;
}
#current-layers ul {
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
}
#current-layers li {
    position: relative;
    list-style: none;
    padding: 5px;
    cursor: default;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: left;
}

.layer-name{
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    max-width: 218px;
    word-break: break-all;
}
.chkbx-layer {
    margin: 0 5px 0 0 !important;
}
.hmbrgr-div {
    width: 22px;
    height: 22px;
    border-radius: 2px;
}
.hmbrgr-div:hover {
    box-shadow: 0 1px 1px 1px #bbbbbb;
}
.hmbrgr-div img {
    width: 18px;
    margin: 2px;
}
.hmbrgr-open {
    background-color: #a1a1a1;
}
